.CentralDraft:focus {
  outline: none;
}
.CentralDraft > * + * {
  margin-top: 0.75em;
}
.CentralDraft ul,
.CentralDraft ol {
  padding: 0 1rem;
}
.CentralDraft h1 {
  font-size: 2em;
}
.CentralDraft h2 {
  font-size: 1.5em;
}
.CentralDraft h3 {
  font-size: 1.17em;
}
.CentralDraft h4 {
  font-size: 1em;
}
.CentralDraft h5 {
  font-size: 0.83em;
}
.CentralDraft h6 {
  font-size: 0.67em;
}
.CentralDraft h1,
.CentralDraft h2,
.CentralDraft h3,
.CentralDraft h4,
.CentralDraft h5,
.CentralDraft h6 {
  line-height: 1.1;
  font-weight: bolder;
}
.CentralDraft code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}
.CentralDraft pre {
  background: #0d0d0d;
  border-radius: 0.5rem;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
}
.CentralDraft pre code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}
.CentralDraft mark {
  background-color: #faf594;
}
.CentralDraft img {
  height: auto;
  max-width: 100%;
}
.CentralDraft hr {
  margin: 1rem 0;
}
.CentralDraft blockquote {
  border-left: 2px solid rgba(13, 13, 13, 0.1);
  padding-left: 1rem;
}
.CentralDraft hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}
.CentralDraft ul[data-type='taskList'] {
  list-style: none;
  padding: 0;
}
.CentralDraft ul[data-type='taskList'] li {
  align-items: center;
  display: flex;
}
.CentralDraft ul[data-type='taskList'] li > label {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  user-select: none;
}
.CentralDraft ul[data-type='taskList'] li > div {
  flex: 1 1 auto;
}
